.TextArea {
    display: inline-block;
    background-color: rgba(4, 150, 255, 0.05);
    color: var(--color-accent);
    border-radius: 4px;
    align-self: center;
    user-select: none;
    cursor: pointer;
}

.TextArea:hover {
    background-color: rgba(4, 150, 255, 0.1);
}