.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.Body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.2vw 10vw 0;
}

@media screen and (max-width: 870px) {
    .Body {
        margin: 4.2vw 4.2vw 0;
    }
}
